@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

:root{
	--black:0, 0, 0;
	--white:255, 255, 255;
	--white-dark:245, 245, 245;
	--black-light:20, 20, 20;
}


body{background-color:rgb(var(--white));color:rgb(var(--black));}
.btnprime{color: rgb(var(--black));}

body{font-family:'Roboto';margin:0;scroll-behavior: smooth;-webkit-user-select: none; user-select:none;}
section{display: flex; align-items: center; justify-content: center;}

button{font-size:unset;background-color:unset;border:unset;color:inherit;}
a{text-decoration: unset;color: unset;padding:0;margin:0;}

h1, h2, h3, p, ul {margin:0; width:100%;max-width:30rem;overflow-wrap:break-word; -webkit-user-select: text; user-select: text;}

h1{font-size:1.728rem;margin-top:1em; text-align:center;}
h2{font-size:1.200em;margin-bottom:1em;}
h3{font-size:1rem;}
p, ul{font-size:1rem;margin:1em 0 2em 0;}
nav, section, footer{padding:2rem;}
nav{position:fixed;top:0;color:rgb(var(--white));}
nav, footer{display:flex;right:0;left:0;justify-content: space-between;}
body{box-sizing: border-box;}

.icon{background-image:url("/assets/icons/magnifying-glass-solid-white.svg");width: 1em;height: 1em;background-repeat:no-repeat;background-size: contain;}

.op03{opacity: 0.35;}
.op08{opacity: 0.8;}
.op10{opacity: 1;}

.simg{width:20%;height:20%;}

.pfixed{position:fixed;}
.bgi{position: absolute;z-index: -1;}
::-webkit-scrollbar{display: none;}

.btnprime{background-color:blue;border-radius: 1rem;padding:2rem;}
.nav-btn-open{background-image: url("/assets/icons/caret-down-solid.svg");padding:1rem;}
.banner{background-color:rgb(var(--black));color:rgb(var(--white));}