@font-face {font-family:'Roboto';src:url('/assets/fonts/Roboto/Roboto-Regular.ttf');}

:root {
	--black:0, 0, 0;
	--white:255, 255, 255;
	--white-dark:245, 245, 245;
	--black-light:20, 20, 20;
}

body {background-color:rgb(var(--white));color:rgb(var(--black));box-sizing:border-box;font-family:'Roboto';margin:0;scroll-behavior:smooth;-webkit-user-select:none;user-select:none;}
section {display:flex;align-items:center; justify-content:center;}
a {text-decoration:unset;color:unset;padding:0;margin:0;}
button {font-size:unset;background-color:unset;border:unset;color:inherit;}
h1, h2, h3, p, ul {margin:0;width:100%;max-width:30rem;overflow-wrap:break-word;-webkit-user-select: text; user-select: text;}
h1 {font-size:1.728rem;margin-top:1em; text-align:center;}
h2 {font-size:1.200em;margin-bottom:1em;}
h3 {font-size:1rem;}
p, ul {font-size:1rem;margin:1em 0 2em 0;}
nav, section, footer {padding:2rem;}
nav {position:fixed;top:0;color:rgb(var(--white));background-color: rgb(var(--black));}
nav, footer {display:flex;right:0;left:0;justify-content: space-between;}
::-webkit-scrollbar{display: none;}
a:hover, a:active{opacity:.5;}