.banner {background-color:rgb(var(--black));color:rgb(var(--white));}

.icon {
	aspect-ratio:1;
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	height:1em;
}

.icon-dropdown {background-image: url("/assets/icons/caret-down-solid.svg");}
.icon-search {background-image: url("/assets/icons/magnifying-glass-solid.svg");}