body {background-color:rgb(var(--black));color:rgb(var(--white));}
nav {background-color:inherit; color:inherit;}

.banner {background-color:rgb(var(--black));color:rgb(var(--white));}
.icon-dropdown {background-image:url("/assets/icons/caret-down-solid-white.svg");}
.icon-search {background-image:url("/assets/icons/magnifying-glass-solid-white.svg");}