body{color:rgb(var(--white));background-color:rgb(var(--black));}

.banner {background-color:rgb(var(--black));color:rgb(var(--white));}
.button {color:rgb(var(--black));}
.icon-dropdown {background-image:url("/assets/icons/caret-down-solid.svg");}
.icon-search {background-image:url("/assets/icons/magnifying-glass-solid-white.svg");}