/*@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');*/
:root{
	--black:0, 0, 0;
	--white:255, 255, 255;
	--white-dark:245, 245, 245;
	--black-light:20, 20, 20;
}

@font-face {
	font-family: 'League Gothic';
	src: url('./font/LeagueGothic-Regular-VariableFont_wdth.ttf');
}

body{font-family:sans-serif;color:#ffffff;padding-bottom: 10vh;scroll-behavior: smooth;}
h1{font-size:6.8125rem;font-family: 'League Gothic', sans-serif;letter-spacing: 0.2rem;margin:0;}
h2{font-size:4.1875rem;font-family: 'League Gothic', sans-serif;letter-spacing:0.2rem;margin:0;}
h3{font-size:1.5rem;}
h4{font-size:1.25rem;}
h5{font-size:1rem;}
h6{font-size:0.75rem;}
p{max-width: 30rem;overflow-wrap:break-word;}


.bc0{background-color:rgb(var(--black));}
.bc1{background-color:rgb(var(--white-dark));}
.bc2{background-color:rgb(var(--white));}
.bc3{background-color:rgb(var(--black-light));;}
.bc4{background-color: rgba( var(--black), 0.8);}

.bci0{background-image: url("./icon_white.svg");background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: auto;position: absolute;}

.op03{opacity: 0.35;}
.op08{opacity: 0.8;}
.op10{opacity: 1;}

.img{width:25%;height:300px;}
.simg{width:20%;height:20%;}

.bgi{position: absolute;z-index: -1;}

.pfixed{position: fixed;}
.martop{margin-top:20vh;}
.padtop{padding-top:20vh;}

::-webkit-scrollbar{display: none;}