:root	{--c01:#2525ff;--c03:#101010;--bc1:white; --bc2:#D5D5D5;}
body	{background-color:var(--bc1); color:var(--c02); font-family:sans-serif; font-size: 16px;margin: 0;}

h1		{font-weight: bolder;margin: 1rem 0 0 0;}
h3		{font-weight: bolder;margin: 0 0 0 0;}
h5		{font-weight: bolder;margin: 0;}

h2		{font-weight: lighter;margin: 0; opacity: 0.7;}
h4		{font-weight: lighter;margin: 0; opacity: 0.7;}
h6		{font-weight: lighter;margin: 0; opacity: 0.7;}

.container	{padding:10vw;}

.flex	{display:flex;}
.col	{flex-direction:column;}
.row	{flex-direction:row;}

/*CONVERGENT - MAIN AXIS*/
.conx	{justify-content: center;}
.con0	{justify-content: flex-start;}
.con1	{justify-content: flex-end;}

.space-evenly	{justify-content: space-evenly;}
.space-around	{justify-content: space-around;}
.space-between	{justify-content: space-between;}
.space-stretch	{justify-content: stretch;}

/*DIVERGENT - SECUNDAIR AXIS*/
.divx	{align-items: center;}
.div0	{align-items: flex-start;}
.div1	{align-items: flex-end;}

.cons0	{align-self: stretch;}
.cons1	{justify-self: end;}

.hi		{height: inherit;}
.vh10	{height: 100vh;}
.vh06	{height: 60vh;}
.vh03	{height: 30vh;}
.vh01	{height: 10vh;}

.wi		{width: inherit;}
.vw10	{width: 100vw;}
.vw06	{width: 60vw;}
.vw03	{width: 30vw;}
.vw04	{width: 40vw;}
.vw01	{width: 10vw;}

.ma0	{margin: 0;}
.mar1	{margin: 3rem;}
.mar2	{margin: 2rem;}
.pa02	{padding: 2rem;}

.hidden	{display: none;}