:root	{
	--online:lime;
	--offline:tomato;
}
#s3		{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 80vw;
}

#serverTable th, td	{
	display: flex;
	justify-content:left ;
	min-width: 8em;
	height: 2em;
}

th{
	text-transform: uppercase;
}

table {margin-top:2em;max-width: 38em;overflow: scroll;}

#serverstatus	{
	color:var(--offline);
}
h6	{
	margin:1em 0;
}
h6 a{
	margin: 0 0.5em;
}