.hidden{display:none;}
.mreset{margin:0;}
.preset{padding:0;}
.pabs{position: absolute;}

.flex{display:flex;}
.row{flex-direction:row;}
.col{flex-direction:column;}

.axm{align-items:center;}
.axs{justify-content:center;}

.hi{height:inherit;}
.h5{height:5vh;}
.h10{height:10vh;}
.h20{height:20vh;}			/*Used*/
.h30{height:30vh;}
.h60{height:60vh;}
.h90{height:90vh;}			/*Used*/

.wi{width:inherit;}
.w33{width:33.333%;}
.w50{width:50%;}
.w66{width:66.666%;}
.w100{width:100%;}

.h20p{height: 20%;}

.space-between{justify-content: space-between;}
.space-evenly{justify-content: space-evenly;}
.padleft{margin:0 0 0 6rem;}