@media only screen and (max-width:1050px) {
	:root	{
		--primary:#101010;
		--secundair:white;
	}
	
	body	{background-color:var(--secundair);font-family:sans-serif;font-size:16px;margin:0;}
	h1, h2, h3, h4, h5, h6	{color:var(--primary); margin:0 1rem;}
	h1		{font-size:4em; font-weight: bolder;text-transform:uppercase;}
	h2		{font-size:1em; font-weight: bolder;text-transform:uppercase;opacity:0.7;}
	h3		{font-size:1.5em; font-weight: bold;margin:0;text-transform:uppercase;}
	h4		{font-size:1em; font-weight: bold;margin:0;opacity:0.7;}
	h5		{font-size:1em; font-weight: bold;}
	h6		{font-size:0.75em;}
	p, th, td		{color:var(--primary);}
	section	{align-items: center;display: flex;flex-direction: column;justify-content: center;margin:0;max-height:100vh;min-height:50vh;padding:0;}
	img		{border-radius:10px;max-width:100%; max-height: 100%;}
	a		{align-items: center;display:flex;justify-content: center;}
	
	nav 	{background-color:var(--secundair);bottom:0;position:fixed;margin:0;display: flex;justify-content:center;width: 100vw;}
	ul, li	{list-style:none;margin:0;padding:0 0 1em 0;display: flex;justify-content: center;width: inherit;}
	nav a	{color:var(--primary);display:flex;height:6em;position:relative;width:10em;}
	
	.col	{display:flex;flex-direction:column;}
	.row	{display:flex;flex-direction:row;}
	
	.alignx	{align-items: center;justify-content: center;}
	.horx	{justify-content: center;}
	.verx	{align-items: center;}
	
	a img:hover {opacity:50%;}
	.containter	{width:70%;}
}

