:root{
	--black:0, 0, 0;
	--white:255, 255, 255;
	--white-dark:245, 245, 245;
	--black-light:20, 20, 20;
}

body{color:rgb(var(--white));background-color:rgb(var(--black));}

.icon{background-image:url("../assets/darkmode/magnifying-glass-solid_dark.svg");}
.btnprime{color: rgb(var(--white));}