/*Append different font sizes*/
h1{font-size:6.8125rem;font-family: 'League Gothic', sans-serif;letter-spacing:0.2rem;margin:0;}
h2{font-size:4.1875rem;font-family: 'League Gothic', sans-serif;letter-spacing:0.2rem;margin:0;}